body {
    font-family: 'Roseblue', sans-serif;
    margin: 0;
    padding: 0;
    color: #343a40;
}
    
@font-face {
    font-family: 'Roseblue';
    src: url('../css/Roseblue.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex; /* hace que los elementos esten en fila */
    align-items: center; /* centra verticalmente la imagen y el titulo */
    justify-content: center;
    padding: 20px; /* espacio interno */
    position: relative;
}

header h1  {
    align-items: center;
    color: black;
    font-size: 64px;
    margin-top: 20px;
    margin-left: 0px; /* espacio entre la img y el h1 */
    flex: 1; /*permite que el h1 ocupe el espacio restante */
    text-align: center;
}       

.navbar {
    background-color: #343a40;
    color: whitesmoke;
    padding: 1.5rem;
}

.container {
    display: block;
    justify-content: space-between;
    font-size: 35px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.container a {
    font-size: 35px;
}


.navbar-brand {
    color: lightpink;
    text-decoration: none;
    font-size: 20px;
}

.navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-menu {
    display: none;
    margin-top: 0.5rem;
}

.navbar-menu.active {
    display: block;
    flex-direction: column;
    width: 100%;
    background-color: #343a40;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
}

.navbar-menu li {
    margin: 0.5rem 0;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
}

.text-center {
    text-align: center;
    justify-content: center;
    color: black;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


footer h2{
    font-size: 25px;
    margin: 30px;
    text-align: center;
}

section p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    margin: 20px;
}

@media screen and (min-width: 600px) {
    header img {
        width: 350px
    }
    header h1 {
        font-size:70px;
    }
    main h1 {
        font-size: 55px;
    }
    main section p {
        font-size: 40px;
    }
    nav ul li {
        font-size: 35px;
    }
    footer h2 {
        font-size: 30px;
        margin: 20px;
    }
}