// _variables.scss

// Colores
$primary-color: #343a40;
$secondary-color: #343a40; 
$dark-color: black;
$rosa: #f98d94;

// Tipografías
$font-primary: 'roseblue', sans-serif;
$font-secondary: 'Georgia', sans-serif;

// Tamaños de fuente
$titulo-grande: 50px;
$titulo-nav: 40px;
$subtitle: 30px;
$parrafo: 25px;

